.titulos{font-family: "Freestyle Script";font-size: 70px; color:#ffaa00; text-stroke:4px navy;webkit-text-stroke-color:black;}
.texto{font-family: "Bahnschrift Light Condensed" ;font-size: 12px; color: black;}
.imagenes{height:100px;width:150px }
.subtit{font-family: "Bahnschrift SemiLight Condensed";font size: 20px; color: "black"}
.derechos{}
